.App {
  margin-left: 5%;
  margin-bottom: 5%;
}
.member-input{
  min-width: 90%;
  min-height: 150px;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.smart-contract-input{
  width: 400px;
}
.column-smart-contract {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row-smart-contract:after {
  content: "";
  display: table;
  clear: both;
}