.App {
  margin-left: 5%;
  margin-bottom: 5%;
}

.member-input {
  min-width: 90%;
  min-height: 150px;
}

.column {
  float: left;
  width: 33.33%;
}

.fram {
  border-style: dotted;
  border-width: 1px;
  margin: 50px;
}

.hr {
  height: 30px
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.smart-contract-input {
  width: 400px;
}

.column-smart-contract {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row-smart-contract:after {
  content: "";
  display: table;
  clear: both;
}

.authen {
  word-break: break-all;
  /* width: 1000px; */
}

.login_body {
  background-color: #FFCD29;

}

.login_title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;



}

.form {
  /* border: 3px solid #f1f1f1; */
  padding: 16px;
}

.green_aleart {

  color: #05FF00;
}

.input_connect[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button_connect {
  background-color: #05FF00;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button_createGroup {
  background-color: #7dd6ff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 0px;
}

.button_findMember {
  background-color: #50c2f7;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 0px;
  margin-top: 5px;

}

.button_delete {
  background-color: #ff5d5d;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 0px;
  margin-top: 5px;

}

.button_admit {
  background-color: #3cfa75;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 4px;
  margin: 8px 0;
  margin-left: 5px;
}


.input_default[type=text],
select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.input_admit[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

:root {
  --primary-color: #fff; /* try #212121 also for dark mode */

  --font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}


/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 2px solid #333;

}
.first{
  margin: 0 0 10px -20px;
}
.last{
  margin: 1px 0 7px -20px;
  margin-top: -10px ;
}
/* Card container */
.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: rgba(182, 181, 181, 0.558);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  max-width: 700px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -30px;
  border: 3px solid orangered;
}
.request{
  justify-content: center;
}
.center2 {

    justify-content: center;

}

.container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 500px;
  height: 200px;
  outline: dashed 1px black;
}