.App {
  margin-left: 5%;
  margin-bottom: 5%;
}
.member-input{
  min-width: 90%;
  min-height: 150px;
}
.column {
  float: left;
  width: 33.33%;
}
.fram{
  border-style: dotted;
  border-width: 1px;
  margin: 50px;
}
.hr{
  height:30px
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.smart-contract-input{
  width: 400px;
}
.column-smart-contract {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row-smart-contract:after {
  content: "";
  display: table;
  clear: both;
}

.login-section {
  width: 100%;
  word-break: break-all;
}
.login_body {
  background-color: #FFCD29;
}
.login_title{
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0em;
text-align: center;



}
.form {
/* border: 3px solid #f1f1f1; */
padding: 16px;
}
.green_aleart{

color: #05FF00;
}
input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=password], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.button_connect {
background-color: #05FF00;
border: none;
color: rgb(0, 0, 0);
padding: 15px 32px;
text-align: center;
height: auto;
width: auto;


border-radius: 0px;


}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}